$mainfont: "Gravitas One";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $mainfont;
}
body {
  background-color: #efe6de;
}
header {
  width: 80vw;
  height: 500px;
  background-color: #9a0002;
  position: absolute;
  left: 10vw;
  border-radius: 15px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: #efe6de;

    font-size: 100px;

    text-align: center;
    max-width: 70vw;
  }
  h2 {
    color: #efe6de;
    font-weight: 100;
    text-transform: uppercase;
  }
}

.toasts {
  list-style: none;
  padding-top: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;

  li {
    display: flex;
    align-items: center;

    position: relative;
  }
}
.salmon {
  width: 470px;
  height: 480px;
  position: absolute;
  left: 5%;
  opacity: 0;
  transition: opacity 0.5s linear;
  &:hover {
    opacity: 1;
  }
}
.butter_empty {
  opacity: 1;
}
.butter {
  position: absolute;

  opacity: 0;
  transition: opacity 0.5s linear;
  &:hover {
    opacity: 1;
  }
}
.chocolate {
  position: absolute;
  left: 2.5%;
  opacity: 0;
  transition: opacity 0.5s linear;
  &:hover {
    opacity: 1;
  }
}
.berry {
  position: absolute;
  width: 535px;
  height: 540px;
  left: -3%;
  opacity: 0;
  transition: opacity 0.5s linear;
  &:hover {
    opacity: 1;
  }
}
.green {
  position: absolute;
  opacity: 0;
  height: 510px;
  width: 510px;
  left: 0.5%;
  top: -2%;
  transition: opacity 0.5s linear;
  &:hover {
    opacity: 1;
  }
}
.banana {
  position: absolute;
  left: 7.5%;
  top: -7%;
  opacity: 0;
  transition: opacity 0.5s linear;
  &:hover {
    opacity: 1;
  }
}
